 @model IEnumerable<MemberDTO?>

@{
    ViewData["title"] = "會員列表";
    var memberList = Model.OrderByDescending(x => x?.Email == ViewBag.User);
}


@if (TempData["DeletedMember"] != null)
{
    <h3 style="color:red">已刪除：@TempData["DeletedMember"]</h3>
}

@if (TempData["LoginMsg"] is not null)
{
    <h2 style="color:lightseagreen">@TempData["LoginMsg"]</h2>
}


<style>
    .readonly-style {
        background-color: #343a40; /* 深灰：與暗色背景區隔但不突兀 */
        color: #ced4da; /* Bootstrap text-light 類系的亮灰白 */
        border: 1px solid #495057; /* 深邊框，略低調但有存在感 */
        cursor: not-allowed; /* 滑鼠提示為無法編輯 */
    }

</style>

<div>

    <button id="logOut">登出</button>

</div>


<div style="height:60px">
    <h2 class="mb-4" style="display:inline">會員列表</h2>

</div>


<div class="accordion" id="accordionExample">
    @foreach (var c in memberList)
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button @(ViewBag.User == c.Email ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@c.Id" aria-expanded="true" aria-controls="collapse-@c.Id">
                    編號：<span>  @c.Id </span>@(ViewBag.User == c.Email ? " [現正登入]" : "")
                </button>
            </h2>
            <div id="collapse-@c.Id" class="accordion-collapse collapse @(ViewBag.User == c.Email ? "show" : "") ">
                <div class="accordion-body">

                    <div class="row justify-content-around">
                        <div class="col-2">
                            <div>
                                <strong>姓名：</strong> <input type="text" value="@c.Name" readonly class="readonly-style">
                            </div>
                        </div>

                        <div class="col-2">
                            <div>
                                <strong>Email：</strong> <input type="text" value="@c.Email" readonly class="readonly-style" style="width:230px">
                            </div>
                        </div>

                        <div class="col-2">
                            <div>
                                <strong>年齡：</strong> <input type="text" value="@c.Age" class="readonly-style" readonly>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-sm btn-outline-success" id="submit" hidden onclick="">送出</button>
                        </div>
                        <div class="col-2 buttons">
                            <a class="btn btn-sm btn-warning editBtn" href="#" id="edit"  onclick="">編輯</a>
                            @if (ViewBag.User != c.Email)
                            {
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@c.Id">刪除</a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>



@section Scripts {

    <script>
        $('a.btn-danger').on('click',(e)=>{

         // e.preventDefault();

         let  msg = e.target.id

         // console.log(msg)

         alert(`已刪除${msg}`)

        })

        $('#logOut').on('click', async function(){

            const response = await $.post('/Member/LogOut', (e)=>{

            alert(e.msg);
            window.location.href = e.redirectURL;

            }).fail((err)=>{

            console.log(err)
            alert("登出失敗，請聯絡相關人員")

            })


        })

        $('document').ready(
        ()=>{


            if("@TempData["LoginMsg"]" !== "")
            {
               alert( "@Html.Raw(TempData["LoginMsg"])"  )
            }


        })



        $('.editBtn').on('click',toggle_update);      

        function toggle_update(){

          let theRow = $(this).closest('.row')
          let inputs = theRow .find('input')
          let submit = theRow. find('button#submit') 

          if( inputs.attr('readonly'))
          {
             inputs.removeAttr('readonly')
             submit.removeAttr('hidden')
          }
          else
          {
             inputs.attr('readonly','readonly')
             submit.attr('hidden','hidden')
          }

          inputs.toggleClass('readonly-style')       
               
        }




        $('#submit').on('click',update_member);

        async function update_member(e){

         e.preventDefault()

         let inputs = $(this).parent().prevAll().find('input')
         let id = inputs.closest('.accordion-item').find('.accordion-button span')

       
         let updateInfo = {

            Id:id.text().trim(),
            Name:inputs.eq(0).val() ,
            Email:inputs.eq(1).val(),
            Age:inputs.eq(2).val()

         }
 

         await $.post(`@Url.Content("~/Member/Update")`,updateInfo).done(s=>alert('更改成功')).fail(e=>console.log('失敗'+ e))



         toggle_update.call(this);
        
         }


    </script>

}

@* 模板 *@
@* 
<tr>
    <td>2</td>
    <td>demoUser02</td>
    <td>2025-04-29</td>
    <td>
        <a class="btn btn-sm btn-primary" href="#">檢視</a>
        <a class="btn btn-sm btn-warning" href="#">編輯</a>
        <a class="btn btn-sm btn-danger" href="#">刪除</a>
    </td>
</tr> *@