 @model IEnumerable<MemberDTO?>

@{
    ViewData["title"] = "會員列表";
    var memberList = Model.OrderByDescending(x => x?.Email == ViewBag.User);
}


@if (TempData["DeletedMember"] != null)
{
    <h3 style="color:red">已刪除：@TempData["DeletedMember"]</h3>
}

@if (TempData["LoginMsg"] is not null)
{
    <h2 style="color:lightseagreen">@TempData["LoginMsg"]</h2>
}




<div>

    <button id="logOut">登出</button>

</div>


<div style="height:60px">
    <h2 class="mb-4" style="display:inline">會員列表</h2>

</div>


<div class="accordion" id="accordionExample">
    @foreach (var c in memberList)
    {
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button @(ViewBag.User == c.Email ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@c.Id" aria-expanded="true" aria-controls="collapse-@c.Id">
                    編號： @c.Id @(ViewBag.User == c.Email ? " [現正登入]" : "")
                </button>
            </h2>
            <div id="collapse-@c.Id" class="accordion-collapse collapse @(ViewBag.User == c.Email ? "show" : "") ">
                <div class="accordion-body">

                    <div class="row justify-content-around">
                        <div class="col-2">
                            <div>
                                <strong>姓名：</strong> <span>@c.Name</span>
                            </div>
                        </div>

                        <div class="col-2">
                            <div>
                                <strong>Email：</strong> <span>@c.Email</span>
                            </div>
                        </div>

                        <div class="col-2">
                            <div>
                                <strong>年齡：</strong> <span>@c.Age</span>
                            </div>
                        </div>

                        <div class="col-2 buttons">
                            <a class="btn btn-sm btn-warning" href="#">編輯</a>
                            @if (ViewBag.User != c.Email)
                            {
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@c.Id">刪除</a>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>



@section Scripts {

    <script>
        $('a.btn-danger').on('click',(e)=>{

         // e.preventDefault();

         let  msg = e.target.id

         // console.log(msg)

         alert(`已刪除${msg}`)

        })

        $('#logOut').on('click', async function(){

            const response = await $.post('/Member/LogOut', (e)=>{

            alert(e.msg);
            window.location.href = e.redirectURL;

            }).fail((err)=>{

            console.log(err)
            alert("登出失敗，請聯絡相關人員")

            })


        })

                $('document').ready(
        ()=>{


            if("@TempData["LoginMsg"]" !== "")
            {
               alert( "@Html.Raw(TempData["LoginMsg"])"  )
            }


        })


    </script>

}

@* 模板 *@
@* 
<tr>
    <td>2</td>
    <td>demoUser02</td>
    <td>2025-04-29</td>
    <td>
        <a class="btn btn-sm btn-primary" href="#">檢視</a>
        <a class="btn btn-sm btn-warning" href="#">編輯</a>
        <a class="btn btn-sm btn-danger" href="#">刪除</a>
    </td>
</tr> *@