 @model IEnumerable<MemberDTO?>

@{
    ViewData["title"] = "會員列表";
    var memberList = Model.OrderByDescending(x => x?.Email == ViewBag.User);
}


@if (TempData["DeletedMember"] != null)
{
    <h3 style="color:red">已刪除：@TempData["DeletedMember"]</h3>
}

@if (TempData["LoginMsg"] is not null)
{
    <h2 style="color:lightseagreen">@TempData["LoginMsg"]</h2>
}

@section Styles {
    <style>
        .readonly-style {
            background-color: #343a40; /* 深灰：與暗色背景區隔但不突兀 */
            color: #ced4da; /* Bootstrap text-light 類系的亮灰白 */
            border: 1px solid #495057; /* 深邊框，略低調但有存在感 */
            cursor: not-allowed; /* 滑鼠提示為無法編輯 */
        }

    </style>
}

<div class="container">
    <div class="row justify-content-between align-items-center mt-4 mb-3"  >

        <div style="" class="col-2">
            <h2 class="mb-4" style="display:inline">會員列表</h2>

        </div>

        <div class="col-1 d-flex justify-content-end">

            <button id="logOut">登出</button>

        </div>
    </div>


    <div class="accordion" id="accordionExample">
        @foreach (var c in memberList)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button @(ViewBag.User == c.Email ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@c.Id" aria-expanded="true" aria-controls="collapse-@c.Id">
                        編號：<span>  @c.Id </span>@(ViewBag.User == c.Email ? " [現正登入]" : "")
                    </button>
                </h2>
                <div id="collapse-@c.Id" class="accordion-collapse collapse @(ViewBag.User == c.Email ? "show" : "") ">
                    <div class="accordion-body">

                        <div class="row justify-content-around">
                            <div class="col ">
                                <div>
                                    <strong>姓名：</strong> <input type="text" value="@c.Name" readonly class="readonly-style">
                                </div>
                            </div>

                            <div class="col ">
                                <div class="item">
                                    <strong>Email：</strong> <input type="text" value="@c.Email" readonly class="w-75 readonly-style">
                                </div>
                            </div>

                            <div class="col ">
                                <div class="">
                                    <strong>年齡：</strong> <input type="text" value="@c.Age" class="readonly-style" readonly>
                                </div>
                            </div>
                            <div class="col-2 buttons">
                                <div class="position-relative d-inline-block">
                                    <button type="button" class="btn btn-sm btn-warning editBtn " id="edit" onclick="">
                                        編輯
                                    </button>
                                    <span class="btn position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger visually-hidden closeEdit" id="">
                                        <i class="fa-solid fa-xmark"></i>
                                    </span>
                                </div>
                                <button class="btn btn-sm btn-outline-success visually-hidden offset-1 submit" id="" onclick="">送出</button>

                                @if (ViewBag.User != c.Email)
                                {
                                    <a class="btn btn-sm btn-danger offset-1" asp-action="Delete" asp-route-id="@c.Id">刪除</a>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section Scripts {

    <script>
        $('a.btn-danger').on('click',(e)=>{

         // e.preventDefault();

         let  msg = e.target.id

         alert(`已刪除 ${msg}`)

        })

        $('#logOut').on('click', async function(){

            const response = await $.post('/Member/LogOut', (e)=>{

            alert(e.msg);
            window.location.href = e.redirectURL;

            }).fail((err)=>{

            console.log(err)
            alert("登出失敗，請聯絡相關人員")

            })


        })

        $('document').ready(
        ()=>{


            if("@TempData["LoginMsg"]" !== "")
            {
               alert( "@Html.Raw(TempData["LoginMsg"])"  )
            }


        })



        $('.editBtn').on('click',function(){

            let This =  $(this)
            toggle_update.call(This,true);
            This.prop('disabled',true)

        });


         $('.closeEdit').on('click',(e)=>{

           // e.stopPropagation();
           toggle_update.call(e.target,false);

        })

        $('.submit').on('click', async (e)=>{

            await update_memberAsync.call(e.target);
            toggle_update.call(e.target,false);

        });


        function toggle_update(on){

          let This = $(this);
          let theRow = This.closest('.row')
          let inputs = theRow.find('input')
          let submit = theRow.find('button.submit')
          let closeEdit = theRow.find('.closeEdit')


          //暫存inputs內容
          inputs.each((i,v)=>{

              //無上次暫存紀錄(編輯、送出)才執行  
              if(!$(v).attr('data-ori')) $(v).attr('data-ori',v.value)

          })


          if(on)
          {
            inputs.removeAttr('readonly');
            submit.removeClass('visually-hidden');
            inputs.removeClass('readonly-style');
            closeEdit.removeClass('visually-hidden')
          }
          else
          {
              //讀取暫存內容，回復inputs歷史
              //有內容才讀取(叉叉取消的情況)，已清空狀態不讀(送出)
              if(inputs.attr('data-ori'))
                 {
                     inputs.each( (i,v)=>{

                        v.value =  $(v).attr('data-ori') ;
                        $(v).removeAttr('data-ori');
                     })
                 }


            inputs.attr('readonly','readonly');
            submit.addClass('visually-hidden');
            inputs.addClass('readonly-style')
            closeEdit.addClass('visually-hidden')
            $('.editBtn').prop('disabled',false)
          }
        }




        async function update_memberAsync(){


         let inputs = $(this).parent().prevAll().find('input')
         let id = inputs.closest('.accordion-item').find('.accordion-button span')



         let updateInfo = {

            Id:id.text().trim(),
            Name:inputs.eq(0).val() ,
            Email:inputs.eq(1).val(),
            Age:inputs.eq(2).val()

         }

         await $.post(`@Url.Content("~/Member/Update")`,updateInfo).done(s=>alert('更改成功')).fail(e=>console.log('失敗'+ e))

            //( 無暫存資料者無"送出"路徑)
            inputs.each( (i,v)=>{
                 $(v).removeAttr('data-ori') ;
            })

         }


    </script>

}

