 @model IEnumerable<MemberDTO?>

@{
    ViewData["title"] = "會員列表";

}


@if (TempData["DeletedMember"] != null)
{
    <h3 style="color:red">已刪除：@TempData["DeletedMember"]</h3>
}



@* <button id="tvb">TestViewBag</button> *@


<div style="height:60px">
    <h2 class="mb-4" style="display:inline">會員列表</h2><a asp-action="Register">註冊帳號</a>
</div>

<table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>編號Id</th>
            <th>姓名</th>
            <th>Email</th>
            <th>年齡</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Name</td>
                <td>@c.Email</td>
                <td>@c.Age</td>
                <td>
                    @* <a class="btn btn-sm btn-primary" href="#">檢視</a>
                    <a class="btn btn-sm btn-warning" href="#">編輯</a> *@
                    <a class="btn btn-sm btn-danger" id="@c.Id @c.Email @c.Name" asp-action="Delete" asp-route-id="@c.Id">刪除</a>
                </td>
            </tr>
        }

    </tbody>
</table>


@section Scripts {

    <script>
        $('a.btn-danger').on('click',(e)=>{

         // e.preventDefault();

         let  msg = e.target.id

         // console.log(msg)

         alert(`已刪除${msg}`)

        })



    </script>


}

@* 模板 *@
@* 
<tr>
    <td>2</td>
    <td>demoUser02</td>
    <td>2025-04-29</td>
    <td>
        <a class="btn btn-sm btn-primary" href="#">檢視</a>
        <a class="btn btn-sm btn-warning" href="#">編輯</a>
        <a class="btn btn-sm btn-danger" href="#">刪除</a>
    </td>
</tr> *@