 @model LoginViewModel

@{
    ViewData["Title"] = "登入頁面";
}

@* @if (TempData["LoginMsg"] is not null) *@
@* { *@

@*     <h2 style="color:red">@TempData["LoginMsg"]</h2> *@
@* } *@

@* @if (TempData["UpdatePasswordMsg"] is not null) *@
@* { *@

@*     string co = TempData["UpdatePasswordMsg"].ToString() == "變更成功" ? "green" : "red"; *@

@*     <h2 style="color:@co">   @TempData["UpdatePasswordMsg"]   </h2> *@

@* } *@
 


<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">登入</h3>

                    <form asp-action="Login" method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger small"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            @* <span asp-validation-for="Password" class="text-danger small"></span> *@
                        </div>
                        <button type="submit" class="btn btn-primary w-100">登入</button>
                    </form>

                </div>


            </div>
            <div style="height:60px">
                <a asp-action="Register">點我註冊</a> <a asp-action="ForgotPassword">忘記密碼</a>
            </div>
        </div>
    </div>
</div>


<div class="container border border-3 border-danger-subtle rounded-2 ">

    <div class="row  ">
        <h4>FormAjax測試</h4>
        <form id="ajaxForm" class=" ">
            @Html.AntiForgeryToken()
            <div class="row  ">
                <div class="col-sm-2 d-flex ">
                    <input type="text" style="width:120px" class="form-control border-dark" name="Id" value="20" placeholder="Id" />
                    <input type="text" style="width:120px" class="form-control border-dark" name="Name" value="jojo" placeholder="Name" />
                    <input type="text" style="width:120px" class="form-control border-dark" name="Email" value="joj@gmail.com" placeholder="Email" />
                    <input type="text" style="width:120px" class="form-control border-dark" name="Age" value="98" placeholder="Age" />
                    <input type="text" style="width:120px" class="form-control border-dark" name="Fact" value="false" placeholder="Fact" />
                </div>
            </div>
            <div class="row  ">
                <div class="col-sm-2 d-flex ">
                    <button type="submit" class="btn btn-primary" id="jQPostForm">jQPostForm</button>
                    <button type="submit" class="btn btn-outline-info" id="jQueryGetForm">jQueryGetForm</button>
                    <button type="submit" class="btn btn-secondary" id="JQajaxPostForm">JQajaxPostForm</button>
                    <button type="submit" class="btn btn-secondary" id="JQajaxPostFormData">JQajaxPostFormData</button>
                    <button type="submit" class="btn btn-outline-dark" id="jsFetchPostForm" onclick="">jsFetchPostForm</button>
                    <button type="submit" class="btn btn-outline-dark" id="jsFetchPostFormData" onclick="">jsFetchPostFormData</button>
                </div>
            </div>
        </form>


    </div>
    <div class="row justify-content-start">
        <h4>非FormAjax測試</h4>
        <div class="col-2 d-flex ">
            <button class="btn btn-primary" id="jQueryPost">jQueryPost</button>
            <button class="btn btn-outline-info" id="jQueryGet">jQueryGet</button>
            <button class="btn btn-secondary" id="jQueryAjaxPost">jQueryAjaxPost</button>
            <button class="btn btn-secondary" id="jQueryAjaxGet">jQueryAjaxGet</button>
            <button class="btn btn-outline-dark" id="jsAsyncFetchGet" onclick="notFormGet()">jsAsyncFetchGet</button>
            <button class="btn btn-outline-dark" id="jsAsyncFetchPost" onclick="notFormPost()">jsAsyncFetchPostPromise</button>
        </div>

    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        let tokens = $('form [name=__RequestVerificationToken]')
        let tokenName = tokens.attr('name')
        let tokenValues = tokens.map((index,item)=> item.value ).get();
        let t1 = tokenValues[0]
        let t2 = tokenValues[1]
        

        $('document').ready( 
        ()=>{

            if("@TempData["RegisterMsg"]" !== "")
            {
               alert( "@Html.Raw(TempData["RegisterMsg"])"  )
            }

            if("@TempData["LoginMsg"]" !== "")
            {
               alert( "@Html.Raw(TempData["LoginMsg"])"  )
            }

            if("@TempData["UpdatePasswordMsg"]" !== "")
            {
               alert( "@Html.Raw(TempData["UpdatePasswordMsg"])"  )
            }
                         
        
        })




          /************** 表單區 ****************/

        // .post但抓表格
        $('#jQPostForm').on('click',(e)=>{

            e.preventDefault();

             $.post('@Url.Content("~/Member/AjaxPostFromFormJustPost")',$('#ajaxForm').serialize(),

             (e)=>{
                 alert('成功');
                 console.log(e)
             }
             ).fail((e)=>{
                 alert('失敗');
                 console.log(e)
             })

        })

        // .get但抓表格
        $('#jQueryGetForm').on('click',(e)=>{

             e.preventDefault();

             $.get('@Url.Content("~/Member/AjaxGet")',
             $('#ajaxForm').serialize(),(e)=>{
                 alert('成功');
                 console.log(e)
             }).fail((e)=>{
                 alert('失敗');
                 console.log(e)
             })
         })

        // JQajaxPost 抓表格(&新建)
        $('#JQajaxPostForm').on('click',(e)=>{

            e.preventDefault();

            //抓
            let form = $('#ajaxForm').serialize()

            //新建
            let directObj ={...testObj}
            directObj[tokenName] = t2

            $.ajax({
                url:'@Url.Content("~/Member/AjaxPostFromForm")',
                method:'post',
                contentType:'application/x-www-form-urlencoded', //可寫可不寫
                // data:form
                data: directObj
            }).done((e)=>{
                 alert('成功');
                 console.log(e)
             }).fail((e)=>{
                 alert('失敗');
                 console.log(e)
             })

        })


        // JQajaxPost FormData(抓轉&新建)
        $('#JQajaxPostFormData').on('click',  (e)=>{

            //轉
            let upForm = $('#ajaxForm')
            let formdata = new FormData(upForm.get(0));

            //新建
            let formdata2 = new FormData()
            let inputs = Object.entries(testObj);
            inputs.forEach((input)=>{

                formdata2.append(input[0],input[1])

            })

            formdata2.append(tokenName,t1)
            

            e.preventDefault();


             $.ajax({

                url:'@Url.Content("~/Member/AjaxPostFromForm")',
                method:'post',             
                data: formdata2,
                processData:false,
                contentType:false

            }).done((e)=>{
                 alert('成功1');
                 console.log(e);

                 $.ajax({
                          url:'@Url.Content("~/Member/AjaxPostFromForm")',
                          method:'post',
                          data: formdata,                
                          processData:false,
                          contentType:false

                       }).done((e)=>{
                            alert('成功2');
                            console.log(e);
                             
                        }).fail((e)=>{
                            alert('失敗2');
                            console.log(e)
                 })

             }).fail((e)=>{
                 alert('失敗1');
                 console.log(e)
             })



        })
               
         // fetchPost 抓表格 (&新建)
         $('#jsFetchPostForm').on('click',async function(e){
             
             e.preventDefault();
             
             //抓
             let Query = new URLSearchParams();
              document.querySelectorAll('#ajaxForm input[name]').forEach((input)=>{

                     Query.append(input.name, input.value)
              
              })        
              //其實也可以抓new FormData(表格)，丟進new URLSearchParams()建構參數內
              // let QueryByFormData = new URLSearchParams(new FormData('#ajaxForm input[name]'));


             //新建
             let newQuery = new URLSearchParams(testObj);
             //可選 Object.entries(testObj).forEach((input)=>{

             // newQuery.append(input[0],input[1])             
             
             // })
             newQuery.append(tokenName,t1)


             

             try {
                 
                 let response = await fetch('@Url.Content("~/Member/AjaxPostFromForm")',{
                 method:'post',
                 body:newQuery,
                 headers:{
                 'Content-Type':'application/x-www-form-urlencoded'
                 }               

                 });
                 let result = await response.json();
                 alert('成功1')
                 console.log(result)

                 let response2 = await fetch('@Url.Content("~/Member/AjaxPostFromForm")',{
                 method:'post',
                 body:Query,
                 headers:{
                 'Content-Type':'application/x-www-form-urlencoded'
                 }

                 });
                 let result2 = await response2.json();
                 alert('成功2')
                 console.log(result2)


             }
             catch(e) {

                alert('失敗')
            
                console.log(e);
             
             }
              
         
         })

         // fetchPostFormdata  Formdata抓表格 (轉)
         $('#jsFetchPostFormData').on('click',async (e)=>{
                
             e.preventDefault()
             
             try{

                let formdata = new FormData(document.querySelector('#ajaxForm'))
                let resp = await fetch('@Url.Content("~/Member/AjaxPostFromForm")',{

                    method:'post',
                    body:formdata

                });
                let result = await resp.json();
                alert('success!!')
                console.log(result)

             }catch(error){
             
                alert('fail!!')
                console.log(error)
             
             
             }
            
         
         })





        /************** 非表單區 ****************/


         let testObj = {Name:'jo', Age:15, Email:'63333'};
         let testOutObj;
         let EmailTail = "test@@mail234.com"
         let Email = "test@@mail234.com"

         $('#jQueryPost').on('click', ()=>{

           $.post(
               '/Member/AjaxPostFromFormJustPost',testObj, (e)=>{
                  alert("成功");
                  testOutObj=e ;
                  console.log(testOutObj)
              }).fail(()=>{alert("失敗")})
         })

         $('#jQueryGet').on('click',()=>{

              let urlFirst = `@Url.Content("~/Member/AjaxGet?Email=")${EmailTail}`
              let urlOri = "@Url.Content("~/Member/AjaxGet")"

             $.get(urlFirst).done((e)=>{ alert("成功"); console.log(e)  }).fail(()=>{ alert("大失敗") })
             $.get(urlOri, {Email:Email},(e)=>
             {
                 alert("成功2"); console.log(e)
             })
             .done((e)=>{
                 alert("成功2-2"); console.log(e)
             })
             .fail(()=>{ alert("大失敗2") })

         })

         $('#jQueryAjaxPost').on('click',()=>{

             let paraObj = {...testObj};
                 paraObj[tokenName] = t1;

         $.ajax({
              url:`@Url.Content("~/Member/AjaxPostFromForm")`,
             method:'post',
             data: paraObj,
            // contentType:'application/json',
             success:(e)=>{ alert("成功"); console.log(e)},
             error: ()=>{alert("ajaxpost失敗") }
         })

         })

         $('#jQueryAjaxGet').on('click',()=>{
             $.ajax({
             method:'get',
              url:'@Url.Content("~/Member/AjaxGet")',
             data:{Email:testObj.Email}
             }).done((e)=>{console.log(e)}).fail(()=>{console.log('失敗')});
           })

         async function notFormGet(){

               let query = new URLSearchParams(testObj);

               try{
                let result = await fetch( `@Url.Content("~/Member/AjaxGet?")${query}`)

               // console.log(await result.json())
               console.log(await result.text())
               }
               catch(e){

                   console.log("失敗")
                   console.log(e)
               }

           }

        let resultA

        function notFormPost(){                      
            
            let paraObj = {...testObj}
            paraObj[tokenName] = t1;

            let data = new URLSearchParams(paraObj)

            fetch( "@Url.Content("~/Member/AjaxPostFromForm")"
             // fetch( "@Url.Content("~/Member/AjaxFromBody")"
             , {

                method:'Post',
                headers:{
                    // "RequestVerificationToken":t2,                    
                     // "Content-Type":"application/json"

                     "Content-Type":"application/x-www-form-urlencoded" //Use [FromForm] or default at backend
                },
                   body:data
                  // body:JSON.stringify(testObj)
              }).then((s)=>{
 

                  return s.json();

              }).then((s)=>{

                    resultA = s;
                alert("成功")
                  console.log(s)
              })

              .catch((e)=>{

                  alert("失敗")
                  console.log(e)

              })



        }




    </script>

    

}
